.directions {
    height: 400px;
    position: relative;
    background-color: #FF0074;
    /* clear: both; */
    z-index: 2;
}

.directionsText {
    font-size: 40px;
    text-align: center;
}

.name {
    padding-top: 100px;
    font-size: 100px;
    text-align: center;
}